[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
django = "==2.2.27"
markdown = "*"
gunicorn = "*"
supervisor = "*"
faker = "*"
pillow = "*"
django-imagekit = "*"
emoji = "*"

[requires]
python_version = "3.7"
