<div id="respond" class="no_webshot">
    <form action="https://cuiqingcai.com/wp-comments-post.php" method="post" id="commentform">  
        <div class="comt-title">
            <div class="comt-avatar pull-left">
                <img alt='' src='static/picture/picture.png' class='avatar avatar-54 photo avatar-default' height='54' width='54'>			
            </div>
            <div class="comt-author pull-left">发表我的评论	</div>
            <a id="cancel-comment-reply-link" class="pull-right" href="javascript:;">取消评论</a>
        </div>
        
        <div class="comt">
            <div class="comt-box">
                <textarea placeholder="写点什么..." class="input-block-level comt-area" name="w" id="comment" cols="100%" rows="3" tabindex="1" 
                onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit').click();return false};"></textarea>
                <textarea name="comment" cols="100%" rows="4" style="display:none"></textarea>
                <div class="comt-ctrl">
                    <button class="btn btn-primary pull-right" type="submit" name="submit" id="submit" tabindex="5"><i class="fa fa-check-square-o"></i> 提交评论</button>
                    <div class="comt-tips pull-right">
                        <input type='hidden' name='comment_post_ID' value='42' id='comment_post_ID'>
                        <input type='hidden' name='comment_parent' id='comment_parent' value='0'>
                        <p style="display: none;">
                            <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="54cc692ae2">
                        </p>
                        <div id="tiantest_reply" style="margin-bottom: 14px; height:36px"></div>
                        <input name="task_id" id="task_id" type="hidden">
                        <p style="display: none;">
                            <input type="hidden" id="ak_js" name="ak_js" value="83">
                        </p>
                    </div>
                    <span data-type="comment-insert-smilie" class="muted comt-smilie">
                        <i class="fa fa-smile-o"></i> 表情</span>
                    <span class="muted comt-mailme">
                        <label for="comment_mail_notify" class="checkbox inline" style="padding-top:0">
                            <input type="checkbox" name="comment_mail_notify" id="comment_mail_notify" value="comment_mail_notify" checked="checked">有人回复时邮件通知我
                        </label>
                    </span>
                </div>
            </div>      
            
            <div class="comt-comterinfo" id="comment-author-info">
                <h4>Hi，您需要填写昵称和邮箱！</h4>
                <ul>
                    <li class="form-inline"><label class="hide" for="author">昵称</label><input class="ipt" type="text" name="author" id="author" value="" tabindex="2" placeholder="昵称"><span class="help-inline">昵称 (必填)</span></li>
                    <li class="form-inline"><label class="hide" for="email">邮箱</label><input class="ipt" type="text" name="email" id="email" value="" tabindex="3" placeholder="邮箱"><span class="help-inline">邮箱 (必填)</span></li>
                    <li class="form-inline"><label class="hide" for="url">网址</label><input class="ipt" type="text" name="url" id="url" value="" tabindex="4" placeholder="网址"><span class="help-inline">网址</span></li>
                </ul>
            </div>
        </div>

        
    </form>
</div>

<div id="postcomments">
	<div id="comments">
		<i class="fa fa-comments-o"></i> <b> (366)</b>个小伙伴在吐槽
	</div>
	<ol class="commentlist">
		<li class="comment even thread-even depth-1" id="comment-271714">
            <div class="c-avatar">
                <img alt='' data-original='static/picture/d9defcc4791b3f73968c194c209161f2.png' class='avatar avatar-54 photo' height='54' width='54'>
                <div class="c-main" id="div-comment-271714">崔老师 您用的vpn是什么啊 现在找不到好用的vpn
                    <div class="c-meta">
                        <span class="c-author">威猛的小老虎</span>2020-02-02 19:39  (20小时前)
                        <a rel='nofollow' class='comment-reply-link' href='javascript:;' 
                        onclick='return addComment.moveForm( "div-comment-271714", "271714", "respond", "42" )' aria-label='回复给威猛的小老虎'>回复</a>
                    </div>
                </div>
            </div>
        </li><!-- #comment-## -->
        <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-271712">
            <div class="c-avatar">
                <img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'>
                <div class="c-main" id="div-comment-271712">您好，我刚刚买了您的“”python3网络爬虫开发实战”，书中的源码在哪里下载，https://github.com/Python3WebSpider 打不开
                    <div class="c-meta">
                        <span class="c-author">岭</span>2020-02-02 13:28  (1天前)
                        <a rel='nofollow' class='comment-reply-link' href='javascript:;' 
                        onclick='return addComment.moveForm( "div-comment-271712", "271712", "respond", "42" )' aria-label='回复给岭'>回复</a>
                    </div>
                </div>
            </div>
        </li><!-- #comment-## -->
        <li class="comment even thread-even depth-1" id="comment-271707">
            <div class="c-avatar">
                <img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'>
                <div class="c-main" id="div-comment-271707">新年快乐
                    <div class="c-meta">
                        <span class="c-author">
                            <a href='javascript:;' rel='external nofollow' class='url'>HelloWorld</a>
                        </span>2020-01-23 22:01 
                        <a rel='nofollow' class='comment-reply-link' href='javascript:;' 
                        onclick='return addComment.moveForm( "div-comment-271707", "271707", "respond", "42" )' aria-label='回复给HelloWorld'>回复</a>
                    </div>
                </div>
            </div>
        </li><!-- #comment-## -->
        <li class="comment byuser comment-author-dudu odd alt thread-odd thread-alt depth-1" id="comment-271705"><div class="c-avatar"><img alt='' data-original='static/picture/90782134cd78a4db9c1bc49e6038eef8.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271705">作者在231页书中的redis-load在windows无法运行，已经用redis-dump生成了一个redis_data.json的文件
        作者书中写：
        &lt; redis_data.json redis-load -u :foobared@localhost:6379
        通过不断试错 也没试出来
        我写的是，说明我的redis没有密码
        &lt; redis_data.json redis-load -u 127.0.0.1:6379  不对
        &lt; ./redis_data.json redis-load -u 127.0.0.1:6379  不对
        &lt; ./redis_data.json redis-load -h 127.0.0.1  -p 6379  不对
        &lt; redis_data.json redis-load -h 127.0.0.1  -p 6379 不对
        &lt; redis_data.json redis-load load-json -h 127.0.0.1  -p 6379 不对
        &lt;  ./redis_data.json redis-load load-json -u 127.0.0.1:6379 不对
        求大神指点window中到底如何能运行得通 redis-load<div class="c-meta"><span class="c-author">dudu</span>2020-01-21 20:56 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271705", "271705", "respond", "42" )' aria-label='回复给dudu'>回复</a></div></div></div><ul class="children">
        <li class="comment byuser comment-author-dudu even depth-2" id="comment-271706"><div class="c-avatar"><img alt='' data-original='static/picture/90782134cd78a4db9c1bc49e6038eef8.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271706">已经解决 😳<div class="c-meta"><span class="c-author">dudu</span>2020-01-21 21:45 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271706", "271706", "respond", "42" )' aria-label='回复给dudu'>回复</a></div></div></div></li><!-- #comment-## -->
        </ul><!-- .children -->
        </li><!-- #comment-## -->
        <li class="comment odd alt thread-even depth-1" id="comment-271687"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271687">你这个网站存在漏洞我的联系方式1750774640<div class="c-meta"><span class="c-author">emm</span>2020-01-12 09:25 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271687", "271687", "respond", "42" )' aria-label='回复给emm'>回复</a></div></div></div></li><!-- #comment-## -->
        <li class="comment even thread-odd thread-alt depth-1" id="comment-271682"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271682">博客做的不错。<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>水产养殖网</a></span>2020-01-10 15:45 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271682", "271682", "respond", "42" )' aria-label='回复给水产养殖网'>回复</a></div></div></div></li><!-- #comment-## -->
        <li class="comment odd alt thread-even depth-1" id="comment-271677"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271677">你好，可以交换友链吗？我喜欢IT技术，擅长php，python，js,热爱汉服，动漫，二次元。。。<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>初心</a></span>2020-01-08 17:09 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271677", "271677", "respond", "42" )' aria-label='回复给初心'>回复</a></div></div></div></li><!-- #comment-## -->
        <li class="comment even thread-odd thread-alt depth-1" id="comment-271668"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271668">你好，非常喜欢你写的一些文章，我也自己搭了个人博客，想请教一下想问下网站是动静分离的吗（譬如vue/react+java）？还是用java+模板语言写的呢？<div class="c-meta"><span class="c-author">稳稳地幸福</span>2020-01-03 20:22 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271668", "271668", "respond", "42" )' aria-label='回复给稳稳地幸福'>回复</a></div></div></div><ul class="children">
        <li class="comment byuser comment-author-cqcre bypostauthor odd alt depth-2" id="comment-271681"><div class="c-avatar"><img alt='' data-original='static/picture/543a23b160314459b92fd4e2e8fb85b3.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271681">不是，就是单纯的 WordPress<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>崔庆才</a></span>2020-01-09 18:16 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271681", "271681", "respond", "42" )' aria-label='回复给崔庆才'>回复</a></div></div></div></li><!-- #comment-## -->
        </ul><!-- .children -->
        </li><!-- #comment-## -->
        <li class="comment even thread-even depth-1" id="comment-271666"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271666">有微信交流群吗，想进群<div class="c-meta"><span class="c-author">不二</span>2020-01-03 12:51 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271666", "271666", "respond", "42" )' aria-label='回复给不二'>回复</a></div></div></div></li><!-- #comment-## -->
        <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-271665"><div class="c-avatar"><img alt='' data-original='static/picture/cadab285394d8a5314b2741af5ff431b.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271665">新年快乐<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>个人博客</a></span>2020-01-02 22:59 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271665", "271665", "respond", "42" )' aria-label='回复给个人博客'>回复</a></div></div></div></li><!-- #comment-## -->
        <li class="comment even thread-even depth-1" id="comment-271658"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271658">崔老师，您好。我在写爬取虎嗅网的程序时，按理说：https://article-api.huxiu.com/web/article/articleList，这个资源地址，原网页当中很可能有个地方调用了这个地址，但一直找不到，我是读者二群的。<div class="c-meta"><span class="c-author">佘建友</span>2019-12-28 20:42 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271658", "271658", "respond", "42" )' aria-label='回复给佘建友'>回复</a></div></div></div></li><!-- #comment-## -->
        <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-271651"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271651">崔老师，我买了你写的书，说可以加群。但我申请的时候它跳转到另外一个群，还要回答问题，可我不知道答案啊。要怎么加呢？<div class="c-meta"><span class="c-author">刀巴虎</span>2019-12-26 23:08 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271651", "271651", "respond", "42" )' aria-label='回复给刀巴虎'>回复</a></div></div></div><ul class="children">
        <li class="comment byuser comment-author-cqcre bypostauthor even depth-2" id="comment-271652"><div class="c-avatar"><img alt='' data-original='static/picture/543a23b160314459b92fd4e2e8fb85b3.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271652">你好加微信，CQCcqc，或者公众号有进群入口<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>崔庆才</a></span>2019-12-27 08:47 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271652", "271652", "respond", "42" )' aria-label='回复给崔庆才'>回复</a></div></div></div></li><!-- #comment-## -->
        </ul><!-- .children -->
        </li><!-- #comment-## -->
        <li class="comment odd alt thread-even depth-1" id="comment-271650"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271650">想学习网站搭建，网站维护，还有如何看懂服务器一些功能设置。应该怎么起步？小白一只。/。。。<div class="c-meta"><span class="c-author">小小白</span>2019-12-26 13:37 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271650", "271650", "respond", "42" )' aria-label='回复给小小白'>回复</a></div></div></div><ul class="children">
        <li class="comment byuser comment-author-cqcre bypostauthor even depth-2" id="comment-271655"><div class="c-avatar"><img alt='' data-original='static/picture/543a23b160314459b92fd4e2e8fb85b3.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271655">现在网络有很多教程，书籍，或者是课程，都可以的<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>崔庆才</a></span>2019-12-27 08:49 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271655", "271655", "respond", "42" )' aria-label='回复给崔庆才'>回复</a></div></div></div></li><!-- #comment-## -->
        </ul><!-- .children -->
        </li><!-- #comment-## -->
        <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-271649"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271649">我想问你，你是哪个学校毕业的，学的什么专业<div class="c-meta"><span class="c-author">清爽夏风</span>2019-12-26 11:24 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271649", "271649", "respond", "42" )' aria-label='回复给清爽夏风'>回复</a></div></div></div><ul class="children">
        <li class="comment byuser comment-author-cqcre bypostauthor even depth-2" id="comment-271653"><div class="c-avatar"><img alt='' data-original='static/picture/543a23b160314459b92fd4e2e8fb85b3.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271653">北航计算机<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>崔庆才</a></span>2019-12-27 08:48 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271653", "271653", "respond", "42" )' aria-label='回复给崔庆才'>回复</a></div></div></div></li><!-- #comment-## -->
        </ul><!-- .children -->
        </li><!-- #comment-## -->
        <li class="comment odd alt thread-even depth-1" id="comment-271637"><div class="c-avatar"><img alt='' data-original='static/picture/picture.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271637">崔老师您好，我做python+seleinum写Web自动化时，登录页面，出现极速滑块验证，我模拟您书上写的模拟拖动代码，但是有点问题，想请您帮助看看，谢谢。我的QQ号是327241851<div class="c-meta"><span class="c-author">lily</span>2019-12-25 11:32 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271637", "271637", "respond", "42" )' aria-label='回复给lily'>回复</a></div></div></div><ul class="children">
        <li class="comment byuser comment-author-cqcre bypostauthor even depth-2" id="comment-271654"><div class="c-avatar"><img alt='' data-original='static/picture/543a23b160314459b92fd4e2e8fb85b3.png' class='avatar avatar-54 photo' height='54' width='54'><div class="c-main" id="div-comment-271654">你好加微信，CQCcqc，或者公众号有进群入口<div class="c-meta"><span class="c-author"><a href='javascript:;' rel='external nofollow' class='url'>崔庆才</a></span>2019-12-27 08:48 <a rel='nofollow' class='comment-reply-link' href='javascript:;' onclick='return addComment.moveForm( "div-comment-271654", "271654", "respond", "42" )' aria-label='回复给崔庆才'>回复</a></div></div></div></li><!-- #comment-## -->
        </ul><!-- .children -->
        </li><!-- #comment-## -->
    </ol>
    <div class="commentnav">
        <a class="prev page-numbers" href="javascript:;">«</a>
        <a class='page-numbers' href='javascript:;'>1</a>
        <span class="page-numbers dots">&hellip;</span>
        <a class='page-numbers' href='javascript:;'>17</a>
        <a class='page-numbers' href='javascript:;'>18</a>
        <span aria-current='page' class='page-numbers current'>19</span>	
    </div>
</div>