<div id="comment-ad" class="banner banner-related"><a href="javascript:;">
    <img src="/static/picture/横图：崔庆才-自己动手，丰衣足食！Python3网络爬虫实战案例.png"></a>
</div>

<div id="respond" class="no_webshot">
    <form action="https://cuiqingcai.com/wp-comments-post.php" method="post" id="commentform">
    
    <div class="comt-title">
        <div class="comt-avatar pull-left">
            <img alt='' src='/static/picture/picture.png' class='avatar avatar-54 photo avatar-default' height='54' width='54'>			</div>
        <div class="comt-author pull-left">
        发表我的评论			</div>
        <a id="cancel-comment-reply-link" class="pull-right" href="javascript:;">取消评论</a>
    </div>
    
    <div class="comt">
        <div class="comt-box">
            <textarea placeholder="写点什么..." class="input-block-level comt-area" name="w" id="comment" cols="100%" rows="3" tabindex="1" onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit').click();return false};"></textarea><textarea name="comment" cols="100%" rows="4" style="display:none"></textarea>
            <div class="comt-ctrl">
                <button class="btn btn-primary pull-right" type="submit" name="submit" id="submit" tabindex="5"><i class="fa fa-check-square-o"></i> 提交评论</button>
                <div class="comt-tips pull-right">
                    <input type='hidden' name='comment_post_ID' value='8811' id='comment_post_ID'>
                    <input type='hidden' name='comment_parent' id='comment_parent' value='0'>
                    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="2e8ec5c6fe"></p>
                    <div id="tiantest_reply" style="margin-bottom: 14px; height:36px"></div>
                    <input name="task_id" id="task_id" type="hidden">
                    <p style="display: none;">
                        <input type="hidden" id="ak_js" name="ak_js" value="59">
                    </p>
                </div>
                <span data-type="comment-insert-smilie" class="muted comt-smilie"><i class="fa fa-smile-o"></i> 表情</span>
                <span class="muted comt-mailme">
                    <label for="comment_mail_notify" class="checkbox inline" style="padding-top:0">
                        <input type="checkbox" name="comment_mail_notify" id="comment_mail_notify" value="comment_mail_notify" checked="checked">有人回复时邮件通知我
                    </label>
                </span>
            </div>
        </div>

        <div class="comt-comterinfo" id="comment-author-info">
            <h4>Hi，您需要填写昵称和邮箱！</h4>
            <ul>
                <li class="form-inline"><label class="hide" for="author">昵称</label><input class="ipt" type="text" name="author" id="author" value="" tabindex="2" placeholder="昵称"><span class="help-inline">昵称 (必填)</span></li>
                <li class="form-inline"><label class="hide" for="email">邮箱</label><input class="ipt" type="text" name="email" id="email" value="" tabindex="3" placeholder="邮箱"><span class="help-inline">邮箱 (必填)</span></li>
                <li class="form-inline"><label class="hide" for="url">网址</label><input class="ipt" type="text" name="url" id="url" value="" tabindex="4" placeholder="网址"><span class="help-inline">网址</span></li>
            </ul>
        </div>
    </div>

    
    </form>
</div>
    